:host{
    position: absolute;
    top: 80%;
    margin-left: 6%;
    margin-right: 6%;
    width: auto;
    height: auto;
}
.previewImage {
    position: relative;
    margin: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.imageBorder {
    Box-shadow:0px 8px 0px coral,0px -8px 0px coral,8px 0px 0px coral,-8px 0px 0px coral;
}